@model IEnumerable<GBC.Models.TechManager>

@{
    ViewData["Title"] = "Index";
}

<h1>Technician Manager</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TechName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TechEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TechPhone)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TechName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TechEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TechPhone)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<p>
    <a asp-action="Create">Create New</a>
</p>
